  [
    {
      "endpoint": "/limited-to-5000-per-second",
      "extra_config": {
        "qos/ratelimit/router": {
          "max_rate": 5000
        },
        "metrics": {
          "enabled": true,
          "tags": ["endpoint", "method"]
        }
      },
      "backend": {{ include "backends/limited.tmpl" }}
    },
    {
      "endpoint": "/todos",
      "method": "GET",
      "backend": {{ include "backends/todos.tmpl" }}
    },
    {
      "endpoint": "/weather",
      "method": "GET",
      "backend": {{ include "backends/weather.tmpl" }}
    },
    {
      "endpoint": "/combined",
      "method": "GET",
      "backend": {{ include "backends/combined.tmpl" }}
    }
  ]
