[
  {
    "endpoint": "/limited-to-5000-per-second",
    "extra_config": {
      "qos/ratelimit/router": {
        "max_rate": 5000
      },
      "metrics": {
        "enabled": true,
        "tags": ["endpoint", "method"]
      }
    },
    "backend": {{ include "limited.tmpl" }}
  },
  {
    "endpoint": "/todos",
    "method": "GET",
    "backend": {{ include "todos.tmpl" }}
  },
  {
    "endpoint": "/weather",
    "method": "GET",
    "backend": {{ include "weather.tmpl" }}
  },
  {
    "endpoint": "/combined",
    "method": "GET",
    "backend": {{ include "combined.tmpl" }}
  }
]
