[
  {
    "endpoint": "/limited-to-5000-per-second",
    "cache_ttl": "3600s",
    "extra_config": {
      "auth/validator": {
        "alg": "RS256",
        "jwk_url": "http://ec2-3-83-119-247.compute-1.amazonaws.com:30011/realms/master/protocol/openid-connect/certs",
        "issuer": "http://ec2-3-83-119-247.compute-1.amazonaws.com:30011/realms/master",
        "audience": ["master-realm", "account"],
        "disable_jwk_security": false
      },
      "qos/ratelimit/router": {
        "max_rate": 5000
      },
      "metrics": {
        "enabled": true,
        "tags": ["endpoint", "method"]
      },
      "circuit_breaker": {
        "enabled": true,
        "timeout": "500ms",
        "max_failures": 3,
        "half_open": "10s"
      },
      "retries": {
        "max": 3,
        "timeout": "1s",
        "retry_on": ["500", "502", "503", "504"]
      },
      "timeout": "2s"
    },
    "backend": [
        {
          "host": [
            "https://jsonplaceholder.typicode.com"
          ],
          "url_pattern": "/todos/1",
          "method": "GET"
        },
        {
          "host": [
            "https://api.openweathermap.org"
          ],
          "url_pattern": "/data/2.5/weather?q=London&appid=457fc8ee279c9c03906622cae3fd9e22",
          "method": "GET"
        }
      ]

  },
  {
    "endpoint": "/todos",
    "method": "GET",
    "backend": [
        {
          "host": [
            "https://jsonplaceholder.typicode.com"
          ],
          "url_pattern": "/todos/1",
          "method": "GET"
        }
      ]

  },
  {
    "endpoint": "/weather",
    "method": "GET",
    "backend": [
      {
        "host": [
          "https://api.openweathermap.org"
        ],
        "url_pattern": "/data/2.5/weather?q=London&appid=457fc8ee279c9c03906622cae3fd9e22",
        "method": "GET"
      }
    ]

  },
  {
    "endpoint": "/combined",
    "method": "GET",
    "backend": [
        {
          "host": [
            "https://jsonplaceholder.typicode.com"
          ],
          "url_pattern": "/todos/1",
          "method": "GET"
        },
        {
          "host": [
            "https://api.openweathermap.org"
          ],
          "url_pattern": "/data/2.5/weather?q=London&appid=457fc8ee279c9c03906622cae3fd9e22",
          "method": "GET"
        }
      ]

  }
]
