{
  "$schema": "https://www.krakend.io/schema/v2.9/krakend.json",
  "version": 3,
  "name": "My KrakenD API",
  "port": 8080,
  "{{ include "settings.tmpl" }}",
  "endpoints": "{{ include "endpoints.tmpl" }}",
  "extra_config": "{{ include "telemetry.tmpl" }}"
}
