{
  "telemetry/influx": {
    "address": "http://10.109.249.231:8086",
    "ttl": "25s",
    "buffer_size": 0,
    "db": "krakend",
    "username": "",
    "password": ""
  },
  "telemetry/metrics": {
    "collection_time": "30s",
    "listen_address": "127.0.0.1:8090"
  }
}
